@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page text-center">
    <img src="\images\background\movie_library.png" />
    <h1 class="display-4">Welcome to your own Movie Library!</h1>
    <p>Sign up or Log in to make your own Library of all of your favourite Movies and TV-Shows!</p>
</div>
