@model List<Movie>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Index";
    var user = await userManager.GetUserAsync(User);
}

@* <a asp-action="Search">Search</a> *@

@if (user != null && Model != null)
{
    <button id="toggleGrid"><i class="bi bi-grid-3x3"></i></button>
    <div class="wrapper style2">
        <div class="inner">
            <div class="row card-container">
                @if (Model != null)
                {
                    foreach (var movie in Model)
                    {
                        <div class="card-parent mb-3 col-md-2">
                            <a asp-action="Details" asp-route-movieId="@movie.Id" class="movie-link">
                                <img src="@movie.Poster" class="card-img-top movie-poster" alt="@movie.Title">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">@movie.Title</h5>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <script>
        document.getElementById("toggleGrid").addEventListener("click", function() {
            var cardParents = document.querySelectorAll(".card-parent");
            cardParents.forEach(function(cardParent) {
                cardParent.classList.toggle("col-md-1");
                cardParent.classList.toggle("col-md-2");
            });
        });
    </script>
}
else if (user == null)
{
    <div class="index">
        <img src="/images/other/nothing.png">
        <h3>Please sign up or log in to view your list of movies :)</h3>
    </div>
}
else
{
    <div class="index">
        <img src="/images/other/nothing.png">
        <h3>Search for a movie or tv-show to add it to your library!</h3>
    </div>
}

